@import "fonts";
@import "base";
@import "specification";

header {
  background: #333333;
  z-index: 5;
}

.header-row {
  display: flex;
  align-items: center;
}

.mobile-menu {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 140px;
}

.header-nav-wrapper {
  position: relative;
  margin-right: auto;
}

.toggle-header-nav {
  display: none;
  flex-direction: column;
}

.toggle-header-nav span {
  background: #fff;
  width: 30px;
  height: 1px;
  display: block;
  position: relative;
  transition: .3s ease;
}

.toggle-header-nav span + span {
  margin-top: 5px;
}

.toggle-header-nav.active {
  span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  span:nth-child(2) {
    opacity: 0;
  }
  span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
}

.header-nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 30px;
}

.header-nav li + li {
  margin-left: 50px;
}

.header-nav-link {
  display: inline-block;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  position: relative;
  padding: 44px 0;
  text-align: center;
}

.header-nav-link:hover {
  color: #FFFFFF;
}

.header-nav-link:after {
  content: '';
  position: absolute;
  background: #FF4D00;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 6px;
  margin-left: 0;
  vertical-align: initial;
  border: none;
  transition: 0.3s ease;
  visibility: hidden;
  opacity: 0;
}

.header-nav-link.active:after, .header-nav-link:hover:after {
  visibility: visible;
  opacity: 1;
  transition: 0.3s ease;
  width: calc(100% + 50px);
}

.header-nav .dropdown-menu {
  background: #FFFFFF;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  border: none;
  padding: 0;
  overflow: hidden;
  top: 10px!important;
  left: -25px!important;
}

.header-nav .dropdown-item {
  padding: 14px 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #6E7F9C;
  border-bottom: 1px solid #EDEDED;
}

.header-nav .dropdown-item:hover, .header-nav .dropdown-item:focus {
  color: #FF4D00;
  background: #F5F5F5;
}

.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-wrap: nowrap;
}

.header-contact i {
  display: none;
}

.header-contact span {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  display: inline-block;
}

.header-contact span + span {
  margin-left: 15px;
}

.toggle-mobile-menu {
  flex-direction: column;
  margin-left: auto;
  display: none;
}

.toggle-mobile-menu span {
  background: #fff;
  width: 30px;
  height: 1px;
  display: block;
  position: relative;
  transition: .3s ease;
}

.toggle-mobile-menu span + span {
  margin-top: 5px;
}

.toggle-mobile-menu.active {
  span:nth-child(1) {
    transform: translateY(6px) rotate(-45deg);
  }
  span:nth-child(2) {
    opacity: 0;
  }
  span:nth-child(3) {
    transform: translateY(-6px) rotate(45deg);
  }
}

footer {
  background: #333333;
}

.footer-row {
  display: flex;
  padding: 40px 0 60px 0;
}

.footer-logo {
  height: fit-content;
}

.footer-menu {
  display: flex;
  margin-right: 30px;
}

.footer-menu-item {
  margin-left: 90px;
}

.footer-menu-item h6 {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #8E8E8E;
}

.footer-nav {
  list-style: none;
}

.footer-nav li {
  margin-top: 16px;
}

.footer-nav a {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.footer-contact {
  margin-left: auto;
  height: fit-content;
}

.footer-contact-phone {
  display: flex;
  align-items: center;
}

.footer-contact-phone span {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-left: 12px;
}

.footer-contact-item {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.footer-contact-item span {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #8E8E8E;
  display: inline-block;
  margin-left: 6px;
}

.footer-social {
  display: flex;
  margin-left: 25px;
  height: fit-content;
}

.footer-social p {
  color: #8E8E8E;
}

.footer-social-list {
  list-style: none;
  display: flex;
  margin-left: 16px;
}

.footer-social-list li + li {
  margin-left: 24px;
}

.service {
  background: url("../img/main/service-bg.png") no-repeat center/cover;
  padding: 275px 0 240px 0;
}

.service .container {
  position: relative;
}

.service-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  color: #FF4D00;
  max-width: 520px;
}

.service-title span {
  color: #333;
}

.service-right p {
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 20px;
}

.service-tooltips {
  position: absolute;
  top: -275px;
  left: 0;
  width: 100%;
  height: calc(100% + 515px);
  z-index: 1;
}

.service-tooltip {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #FFFFFF;
  box-shadow: 0 3px rgba(0, 0, 0, 0.11);
  border-radius: 7px;
  position: absolute;
  width: 200px;
}

.service-tooltip:after {
  content: '';
  background: #fff;
  width: 16px;
  height: 16px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.11);
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.service-tooltip-img {
  width: 47px;
  height: 47px;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
}

.service-tooltip-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-tooltip-caption {
  margin-left: 10px;
}

.service-tooltip-caption h6 {
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #7C7C7C;
}

.service-tooltip-caption p {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #9F9F9F;
  margin-top: 6px;
}

.tooltip-1 {
  left: 12%;
  top: 21%;
}

.tooltip-2 {
  left: 43%;
  top: 14%;
}

.tooltip-3 {
  left: 81%;
  top: 19%;
}

.tooltip-4 {
  left: -5%;
  top: 65%;
}

.tooltip-5 {
  left: 27%;
  top: 77%;
}

.tooltip-6 {
  left: 85%;
  top: 67%;
}

.service-content {
  z-index: 2;
  position: relative;
}

.apartments-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -7px;
}

.apartments-card {
  border: none;
  background: #F8F8F8;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  width: calc(33.3% - 14px);
  margin: 20px 7px;
  transition: 0.2s ease;
}

.apartments-img {
  width: 100%;
  height: 260px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.apartments-img:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.38);
  z-index: 1;
  opacity: 0;
  transition: 0.3s ease;
}

.apartments-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.8s ease;
}

.badge-list {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}

.badge {
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  padding: 6px 12px;
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  color: #383736;
  background: #FFFFFF;
  z-index: 2;
  display: block;
  width: fit-content;
  position: relative;
  margin: 5px;
}

.badge.success {
  background: #43D64F;
  color: #FFFFFF;
}

.badge.info {
  background: #9747FF;
  color: #FFFFFF;
}

.price-badge {
  background: #FF4D00;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  font-weight: 600;
  font-size: 17px;
  line-height: 130%;
  color: #FFFFFF;
  padding: 6px 12px;
  z-index: 2;
  display: inline-block;
  width: fit-content;
  position: relative;
}

.apartments-title {
  padding: 12px 16px 8px 16px;
}

.apartments-title p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.apartments-address {
  display: flex;
  padding: 10px 16px;
}

.apartments-address p {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #8E8E8E;
  margin-left: 10px;
}

.apartments-meta {
  padding: 10px 16px;
  display: flex;
  margin: -2px;
  flex-wrap: wrap;
}

.apartments-meta li {
  display: flex;
  align-items: center;
  background: #EEEEEE;
  border-radius: 10px;
  padding: 8px 10px;
  width: fit-content;
  margin: 2px;
}

.apartments-meta li p {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #8E8E8E;
  margin-left: 4px;
}

.apartments-card-link {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border-radius: 10px;
  transition: 0.3s ease;
}

.card-link-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex-shrink: 0;
}

.card-link-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-link-caption {
  margin-left: 15px;
}

.card-link-caption h6 {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #8E8E8E;
}

.card-link-caption p {
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  color: #383736;
  margin-top: 6px;
}

.apartments-card-link .icon-whatsapp-orange {
  margin-left: auto;
}

.price-badge {
  margin-top: auto;
}

.apartments-card:hover {
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.16);
  .apartments-img:before {
    opacity: 1;
  }
  .apartments-card-link {
    background: #EEEEEE;
  }
  .apartments-img img {
    transform: scale(1.15);
  }
}

.cards-wrapper {
  margin-top: 100px;
}

.cards-wrapper-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.cards-wrapper-heading h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #333333;
}

.badge-list-vertical {
  display: flex;
  flex-direction: column;
  margin: -5px;
}

.apartments-card-sm .apartments-img {
  justify-content: space-between;
}

.main-page {
  background: #EEEEEE;
  padding-bottom: 80px;
}

.apartments-card-sm {
  background: #F8F8F8;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  width: calc(33.3% - 14px);
  margin: 10px 7px;
}

.apartments-card-sm:hover {
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.16);
  .apartments-img:before {
    opacity: 1;
  }
  .apartments-card-link {
    background: #EEEEEE;
  }
  .apartments-img img {
    transform: scale(1.15);
  }
}

.apartments-address.warning p {
  color: #FF4D00;
}

.apartments-card-sm .card-caption {
  padding-bottom: 16px;
}

.sentence-box {
  min-height: 500px;
  border-radius: 10px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sentence-box h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
}

.sentence-box p {
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  margin-top: 11px;
  color: #8E8E8E;
}

.sentence-box .text-link {
  margin-top: 22px;
  z-index: 2;
}

.sentence-box:hover .text-link:after {
  transform: translateY(-50%) translateX(7px);
}

.sentence-box.dark {
  background: url('../img/main/night-city.png') no-repeat center bottom/contain, #383736;
  h2 {
    color: #fff;
  }
}

.sentence-box.light {
  background: url("../img/main/team.png") #FFFFFF no-repeat center top/contain;
  justify-content: flex-end;
}

.sentence {
  margin-top: 100px;
}

.request {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0 5px 0 rgba(22, 22, 22, 0.16);
  border-radius: 10px;
  min-height: 490px;
}

.request-left {
  width: 50%;
  padding: 40px 50px;
}

.request-title h2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  color: #333333;
}

.request-title h2 span {
  color: #ff4d00;
}

.request-title p {
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #8E8E8E;
  margin-top: 8px;
}

.request-form {
  margin-top: 26px;
}

.request-right {
  width: 50%;
}

.request-form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request-img {
  width: 100%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
}

.request-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.request-form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request-form-bottom button {
  margin-left: 30px;
}

.request-wrapper.with-bg {
  background: linear-gradient(180deg, rgba(238, 238, 238, 0.96) 0%, rgba(238, 238, 238, 0) 15.58%, rgba(238, 238, 238, 0) 76.44%, #EEEEEE 100%, #EEEEEE 100%), url("../img/main/service-bg.png") no-repeat center/cover;
  padding: 20px 0 40px 0;
}

.request-wrapper .title {
  margin-bottom: 40px;
}

.request-wrapper .title h2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #333333;
}

.main-page .request-wrapper {
  margin-top: 100px;
}

.request-wrapper .title h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #333333;
  margin-top: 5px;
}

.request-wrapper .title h3 a {
  color: #FF4D00;
  text-decoration: underline;
}

.apartments-slider {
  height: 300px;
  background: url("../img/main/ready-bg.png") no-repeat center/cover;
  padding-top: 1px;
}

.search-box {
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  padding: 40px;
  width: 870px;
  margin: -150px auto 0 auto;
}

.search-box h2 {
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: #333333;
  text-align: center;
}

.search-box h2 span {
  color: #FF4D00;
}

.search-row {
  margin-top: 32px;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-row .form-group {
  flex: 1;
  margin-bottom: 0;
  margin-right: 20px;
}

.search-row .btn-black {
  min-width: 148px;
}

.find-btn-xs {
  display: none;
}

.filter-row {
  margin-top: 24px;
  display: flex;
}

.filter-row-select {
  display: flex;
  width: 63%;
  margin-left: -10px;
  margin-right: -10px;
}

.filter-row-select .bootstrap-select {
  width: calc(50% - 20px)!important;
  margin: 0 10px;
}

.filter-row-button {
  width: 37%;
  margin-left: 20px;
  display: flex;
}

.filter-btn {
  width: 50%;
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  padding: 6px 15px;
  font-weight: 700;
  font-size: 15px;
  line-height: 130%;
  color: #383736;
}

.filter-btn + .filter-btn {
  margin-left: 20px;
}

.filter-btn.active {
  background: #FF4D00;
  box-shadow: 0 3px 0 rgba(255, 77, 0, 0.16);
  color: #FFFFFF;
}

.ready-apartments-page .sorting-box {
  margin-top: 40px;
}

.ready-apartments-page .cards-wrapper {
  margin-top: 20px;
}

.load-more-btn {
  margin: 40px auto 0 auto;
  min-width: 205px;
}

.project-card {
  border: none;
  background: #F8F8F8;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  width: calc(33.3% - 14px);
  margin: 20px 7px;
  transition: 0.2s ease;
  position: relative;
}

.project-card-img {
  width: 100%;
  height: 260px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  position: relative;
}

.project-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.8s ease;
}

.project-card-img:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.38);
  z-index: 1;
  opacity: 0;
  transition: 0.3s ease;
}

.project-card:hover {
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.16);
  .project-card-img:before {
    opacity: 1;
  }
  .project-card-img img {
    transform: scale(1.15);
  }
}

.project-card-caption {
  padding: 12px 16px 16px 16px;
}

.project-card-title p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #333333;
}

.project-card-info {
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: center;
}

.project-card-info p {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FF4D00;
  margin-left: 10px;
}

.off-plan-header {
  padding-bottom: 40px;
}

.off-plan-header h2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  color: #333333;
  margin-top: 65px;
}

.off-plan-header .sorting-box {
  margin-top: 20px;
}

.off-plan-apartments-page .cards-wrapper {
  margin-top: 0;
}

.title-lg {
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  color: #333333;
}

.title-sm {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #333333;
}

.off-plan-apartments-page .apartments-card-wrapper {
  margin-top: 20px;
}

.community-slider {
  background: url("../img/main/community-bg.png") no-repeat center/cover;
}

.community-slider-row {
  min-height: 540px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.community-preview {
  margin-top: auto;
}

.community-preview h2 {
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.community-link-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.community-link-wrapper + .community-link-wrapper {
  margin-top: 25px;
}

.community-link:not(.orange-bg, .white-bg) {
  padding: 6px 12px 6px 16px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  align-items: center;
  transition: 0.3s ease;

  span {
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #FFFFFF;
    transition: 0.3s ease;
  }

  &:after {
    content: '';
    background: url("../img/icon/chevron-right-white.svg");
    width: 16px;
    height: 16px;
    margin-left: 12px;
  }

  &:hover {
    background: #FFFFFF;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
  }

  &:hover span {
    color: #333333;
  }

  &:hover svg path {
    stroke: #22282F;
  }

  &:hover:after {
    background: url("../img/icon/chevron-right-black.svg");
  }
}

.community-link svg + span {
  margin-left: 4px;
}

.community-link.orange-bg {
  background: #FF4D00;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  padding: 7px 12px;
  margin: 5px;
  transition: 0.3s ease;

  span {
    font-weight: 600;
    font-size: 17px;
    line-height: 130%;
    color: #FFFFFF;
    transition: 0.3s ease;
  }

  &:hover {
    background: #fff;
  }

  &:hover span {
    color: #FF4D00;
  }
}

.community-link.white-bg {
  background: #FFFFFF;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  padding: 6px 12px 6px 16px;
  margin: 5px;
  display: flex;
  align-items: center;
  transition: 0.3s ease;

  span {
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #333333;
    transition: 0.3s ease;
  }

  &:after {
    content: '';
    background: url("../img/icon/chevron-right-black.svg");
    width: 16px;
    height: 16px;
    margin-left: 12px;
    transition: 0.3s ease;
  }

  &:hover {
    border: 1px solid #FFFFFF;
    background: transparent;
  }

  &:hover span {
    color: #fff;
  }

  &:hover svg path {
    fill: #fff;
  }

  &:hover:after {
    background: url("../img/icon/chevron-right-white.svg");
  }
}

.modal-backdrop {
  background: url("../img/main/noise.png") no-repeat center/cover, rgba(0, 0, 0, 0.35);
  background-blend-mode: overlay, normal;
}

.modal-content {
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  position: relative;
  overflow: visible!important;
}

.modal-body {
  display: flex;
  padding: 0;
  border-radius: 10px;
  max-height: 100%;
  overflow: hidden;
}

.modal-body-left {
  width: 40%;
  padding: 40px 30px;
}

.modal-body-right {
  width: 60%;
  padding: 20px 40px 20px 30px;
  max-height: 100%;
  overflow-y: auto;
}

.modal-body-right::-webkit-scrollbar {
  width: 7px;
}

.modal-body-right::-webkit-scrollbar-thumb {
  background: #a8a8a8;
}

.modal-body-right::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.community-more-nav {
  list-style: none;
  background: #FFFFFF;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  overflow: hidden;
}

.community-more-link {
  padding: 14px 10px;
  min-height: 45px;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #6E7F9C;
  display: inline-block;
}

.community-more-link:not(.active):hover {
  color: #6E7F9C;
}

.community-more-link.active {
  background: #F5F5F5;
  color: #FF4D00;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: 520px;
}

.community-more-article {
  padding: 10px 0 16px 0;
}

.community-more-article h2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  color: #333333;
  margin-bottom: 16px;
}

.community-more-article p {
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  letter-spacing: -0.015em;
  color: #333333;
}

.community-more-article p + p {
  margin-top: 20px;
}

.close-modal {
  width: 40px;
  height: 40px;
  background: #F5F5F5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -51px;
  z-index: 1;
}

.community-projects {
  margin-top: 90px;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
}

.select-property-type {
  display: flex;
  align-items: center;
}

.select-property-type span {
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #383736;
  display: block;
  margin-right: 8px;
}

.community-projects .apartments-card-wrapper {
  margin-top: 40px;
}

.community-transport-item {
  display: flex;
  align-items: center;
  border-radius: 10px;
  min-height: 130px;
  padding: 20px 30px;
  position: relative;
  border: 1px solid #D6D6D6;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
}

.community-transport-item + .community-transport-item {
  margin-top: 24px;
}

.community-transport-item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.community-transport-item {
  &.primary:before {
    background: #9747FF;
  }
  &.success:before {
    background: #43D64F;
  }
  &.warning:before {
    background: #FF4D00;
  }
  &.black:before {
    background: #333333;
  }
}

.community-transport-icon {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.community-transport-icon i + i {
  margin-top: 6px;
}

.community-transport-caption {
  display: flex;
  align-items: center;
}

.community-transport-item h6 {
  font-weight: 700;
  font-size: 74px;
  line-height: 90px;
  color: #333333;
  margin-right: 65px;
  min-width: 100px;
}

.community-transport-item p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.community-location {
  margin-top: 100px;
}

.community-location-map {
  width: 100%;
  height: 100%;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
}

.community-location-map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.community-location-map div {
  width: 100%;
  height: 100%;
}

.nearby-communities {
  margin-top: 100px;
}

.nearby-communities .apartments-card-wrapper {
  margin-top: 20px;
}

.community-page .request-wrapper.with-bg {
  padding: 130px 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.96) 0%, rgba(255, 255, 255, 0.671103) 4.69%, rgba(255, 255, 255, 0.671103) 4.7%, rgba(255, 255, 255, 0) 15.58%, rgba(255, 255, 255, 0) 76.44%, #EEEEEE 100%, #FFFFFF 100%), url("../img/main/service-bg.png") no-repeat center/cover
}

.project-slider .swiper-button-prev:after, .project-slider .swiper-button-next:after {
  content: none;
}

.project-slider .swiper-button-prev, .project-slider .swiper-button-next {
  background: #FFFFFF;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  z-index: 5;
  margin-top: 0;
  top: initial;
  bottom: 208px;
}

.project-slider-item {
  width: fit-content;
}

.project-slider-img {
  height: 415px;
  width: auto;
  max-width: 645px;
  border-radius: 10px;
  overflow: hidden;
}

.project-slider-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-slider .container {
  position: relative;
}

.property-info {
  margin-top: 80px;
  display: flex;
}

.property-info-left {
  width: 57%;
  padding-right: 50px;
}

.property-info-right {
  width: 43%;
}

.property-info-caption {
  display: flex;
  flex-wrap: wrap;
  margin: 12px -12px -12px -12px;
}

.property-info-item {
  width: calc(50% - 24px);
  margin: 12px;
}

.property-info-item span {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #8E8E8E;
  display: block;
}

.property-info-item p {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #FF4D00;
}

.property-info-help {
  background: url("../img/main/request2.png") no-repeat 120% 50%/contain, #FFFFFF;
  border: 1px solid #D6D6D6;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  padding: 30px 160px 30px 30px;
}

.property-info-help h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #333333;
}

.property-info-help p {
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #8E8E8E;
  margin-top: 16px;
  padding-right: 40px;
}

.property-info-help-buttons {
  display: flex;
  margin-top: 25px;
}

.property-info-help-buttons .btn + .btn {
  margin-left: 16px;
}

.info-tab {
  margin-top: 75px;
}

.info-tab .nav-tabs {
  border-bottom: 1px solid #EDEDED;
}

.info-tab .nav-tabs a {
  padding: 0 22px 20px 22px;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #333333;
  display: inline-block;
}

.info-tab .nav-tabs a.active {
  border-bottom: 5px solid #FF4D00;
}

.info-tab .tab-content {
  margin-top: 40px;
}

.map-large {
  width: 100%;
  height: 500px;
}

.map-large iframe {
  width: 100%;
  height: 100%;
}

.off-plan-detail-page .request {
  margin-top: 80px;
}

.off-plan-detail-page .cards-wrapper {
  margin-top: 80px;
  margin-bottom: 100px;
}

.similar-projects .apartments-card-wrapper {
  margin-top: 40px;
}

.ready-apartments-page {
  padding-bottom: 160px;
}

.off-plan-apartments-page {
  padding-bottom: 120px;
}

.info-tab-about {
  display: flex;
}

#infoAbout .info-tab-img {
  width: 270px;
  height: 310px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}

#infoAbout .info-tab-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#infoAbout .info-tab-caption {
  margin-left: 38px;
}

#infoAbout h6 {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #FF4D00;
}

#infoAbout p {
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  letter-spacing: -0.015em;
  color: #333333;
  margin-top: 20px;
}

.presentation-link-box {
  padding: 80px 0;
  background: url('../img/main/present-bg.png') no-repeat center/cover;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  margin: 80px 0;
}

.presentation-link-box h6 {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: #333333;
  max-width: 350px;
  margin: 0 auto;
}

.presentation-link-box .btn {
  margin: 20px auto 0 auto;
}

.ready-info {
  display: flex;
  padding: 60px 0 100px 0;
}

.ready-info-left {
  width: 65%;
}

.ready-info-right {
  width: calc(35% - 40px);
  padding-top: 25px;
  margin-left: 40px;
}

.ready-info .title-sm {
  margin-bottom: 16px;
}

.ready-info-item {
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid #EDEDED;
}

.ready-info-item + .ready-info-item {
  margin-top: 32px;
}

.ready-info-location {
  display: flex;
  align-items: center;
}

.ready-info-location span {
  display: block;
  margin-left: 13px;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #8E8E8E;
}

.apartments-meta-lg {
  list-style: none;
  margin: -17px;
  display: flex;
  flex-wrap: wrap;
}

.apartments-meta-lg li {
  margin: 17px;
  display: flex;
}

.apartments-meta-caption {
  margin-left: 8px;
}

.apartments-meta-lg span {
  display: block;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #8E8E8E;
}

.apartments-meta-lg p {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #333333;
}

.title-xs {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #333333;
  margin-bottom: 20px;
}

.amenities-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin: -5px;
}

.amenities-list li {
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  box-shadow: 0 3px 0 rgba(22, 22, 22, 0.06);
  border-radius: 20px;
  margin: 5px;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  color: #333333;
}

.ready-info-description p {
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: #333333;
}

.ready-info-description p + p {
  margin-top: 20px;
}

.ready-info-description p + ul {
  margin-top: 20px;
}

.ready-info-description ul + p {
  margin-top: 20px;
}

.read-description-nav {
  list-style: none;
}

.read-description-nav li + li {
  margin-top: 10px;
}

.read-description-nav li {
  position: relative;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: #333333;
  padding-left: 24px;
}

.read-description-nav li:before {
  content: '';
  background: #FF4D00;
  width: 8px;
  height: 8px;
  top: 5px;
  left: 0;
  position: absolute;
}

.ready-info-map {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.ready-info-map iframe {
  width: 100%;
  height: 100%;
}

.ready-info-item:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

.agent-card {
  background: #F8F8F8;
}

.agent-card-top {
  padding: 18px 28px;
  background: #FF4D00;
  border-radius: 10px 10px 0 0;
}

.agent-card-top h6 {
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #FFFFFF;
}

.agent-card-top p {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #FFFFFF;
}

.agent-card-body {
  border-radius: 0 0 10px 10px;
  padding: 22px 16px 20px 16px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
}

.agent-badge {
  display: flex;
}

.agent-badge-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
}

.agent-badge-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.agent-badge-caption {
  margin-left: 15px;
}

.agent-badge-caption h6 {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #8E8E8E;
}

.agent-badge-caption p {
  font-weight: 600;
  font-size: 17px;
  line-height: 130%;
  color: #383736;
  margin-top: 6px;
}

.agent-badge-btn {
  margin-top: 28px;
  display: flex;
  flex-wrap: wrap;
}

.agent-badge-btn .btn-black {
  width: calc(50% - 5px);
}

.agent-badge-btn .btn-black + .btn-black {
  margin-left: 10px;
}

.agent-badge-btn .btn-success {
  width: 100%;
  margin-top: 12px;
}

.apartment-slider {
  margin-top: 40px;
  border-radius: 10px;
  width: 100%;
  height: 560px;
}

.apartment-slider-item {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.apartment-slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.apartment-slider .swiper-button-prev, .apartment-slider .swiper-button-next {
  background: #FFFFFF;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  z-index: 5;
  margin-top: 0;
}

.apartment-slider .swiper-button-prev:after, .apartment-slider .swiper-button-next:after {
  content: none;
}

.apartment-slider .swiper-button-prev {
  left: 20px;
}

.apartment-slider .swiper-button-next {
  right: 20px;
}

.ready-detail-page .request {
  margin: 100px 0;
}

.rent-page .filter-row-select {
  width: 100%;
}

.rent-page .sorting-box {
  margin-top: 40px;
}

.rent-page .cards-wrapper {
  margin-top: 40px;
}

.rent-page {
  padding-bottom: 100px;
}

.sell-slider {
  background: url("../img/main/sell-bg.png") no-repeat center/cover;
  padding-top: 0.1px;
}

.sell-helper {
  display: flex;
  align-items: center;
  padding: 60px 0 100px 0;
}

.sell-helper-left {
  width: 53%;
}

.sell-helper-left h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  color: #FFFFFF;
}

.sell-helper-left p {
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  color: #FFFFFF;
  margin-top: 20px;
}

.sell-helper-right {
  width: calc(47% - 55px);
  margin-left: 55px;
}

.sell-request {
  background: #FFFFFF;
  box-shadow: 0 5px 0 rgba(22, 22, 22, 0.16);
  border-radius: 10px;
  padding: 32px;
}

.sell-request-title {
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: #333333;
}

.sell-form {
  margin-top: 24px;
}

.sell-request .request-form-bottom {
  display: block;
  margin-top: 20px;
}

.sell-request .request-form-bottom button {
  margin-left: 0;
  margin-top: 20px;
  width: 100%;
}

.sell-expect {
  margin-top: 100px;
}

.sell-expect p {
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: #333333;
}


.sell-page .request-wrapper.with-bg {
  padding: 130px 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.96) 0%, rgba(255, 255, 255, 0.671103) 4.69%, rgba(255, 255, 255, 0.671103) 4.7%, rgba(255, 255, 255, 0) 15.58%, rgba(255, 255, 255, 0) 76.44%, #EEEEEE 100%, #FFFFFF 100%), url("../img/main/service-bg.png") no-repeat center/cover
}

.management-page .title-lg {
  margin: 25px 0 40px 0;
}

.management-progress {
  display: flex;
  margin: -8px;
  flex-wrap: wrap;
}

.management-progress-item {
  width: calc(25% - 16px);
  margin: 8px;
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.management-progress-item img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.management-progress-item .caption {
  flex: 1;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.management-progress-item h6 {
  font-weight: 700;
  font-size: 17px;
  line-height: 120%;
  color: #333333;
  margin-bottom: 3px;
  text-align: center;
}

.management-progress-item h6 span {
  color: #FF4D00;
}

.management-progress-item p {
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  color: #333333;
  margin-top: auto;
}

.management-article-wrapper {
  display: flex;
  margin: 60px -10px 0 -10px;
  flex-wrap: wrap;
}

.management-article {
  width: calc(50% - 20px);
  margin: 0 10px;
  border-radius: 10px;
  padding: 40px 30px 240px 30px;
  position: relative;

  h6 {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 16px;
  }

  p {
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
  }

  p + p {
    margin-top: 20px;
  }
}

.management-article:nth-of-type(1) {
  background: url("../img/main/article-map.png") no-repeat center bottom/contain, #F29167;
  h6, p {
    color: #FFFFFF;
  }
}

.management-article:nth-of-type(2) {
  background: url("../img/main/card-group.png") no-repeat center bottom/contain, #fff;
  border: 1px solid #D6D6D6;
  h6 {
    color: #333333;
  }
  p {
    color: #8E8E8E;
  }
}

.management-page .service {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.96) 0%, rgba(255, 255, 255, 0) 24%, rgba(238, 238, 238, 0) 76.44%, #EEEEEE 100%), url("../img/main/service-bg.png") no-repeat center/cover;
}

.management-page .request {
  margin-bottom: 100px;
}

.team-slider {
  background: url("../img/main/team-bg.png") no-repeat center/cover;
}

.team-slider-row {
  padding: 0.1px 0 60px 0;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

.team-slider-row h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  color: #FFFFFF;
  margin-top: auto;
}

.team-page .search {
  margin-top: 40px;
  margin-bottom: 40px;
}

.member-card-wrapper {
  margin-bottom: 60px;
}

.member-card-wrapper .title-sm {
  margin-bottom: 40px;
}

.member-card-list {
  display: flex;
  flex-wrap: wrap;
  margin: -20px -7px;
}

.member-card {
  width: calc(33.3% - 14px);
  margin: 20px 7px;
  display: flex;
  flex-direction: column;
  background: #F8F8F8;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  padding: 40px 16px 24px 16px;
}

.member-img {
  width: 154px;
  height: 154px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background: url("../img/main/member-bg.png") no-repeat center/contain;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.member-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.member-info {
  margin-top: 24px;
}

.member-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #333333;
}

.member-position {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #8E8E8E;
  margin-top: 10px;
  text-align: center;
}

.member-contact {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 16px auto 0 auto;
  padding: 8px 16px;
  background: #FF4D00;
  border-radius: 30px;
  margin-bottom: 24px;
}

.member-contact span {
  display: block;
  margin-left: 8px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.member-social {
  display: flex;
  margin-top: auto;
  margin-left: -5px;
  margin-right: -5px;
}

.member-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EEEEEE;
  border-radius: 6px;
  padding: 12px 24px;
  width: calc(50% - 10px);
  margin: 0 5px;
}

.member-social-link span {
  display: block;
  margin-left: 10px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #333333;
}

.team-page {
  padding-bottom: 40px;
}

.blog-wrapper {
  margin-top: 40px;
}

.blog-tabs {
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.blog-tabs .nav-item + .nav-item {
  border-top: 1px solid #EDEDED;
}

.blog-tabs h6 {
  padding: 14px 10px;
  font-weight: 700;
  font-size: 17px;
  line-height: 120%;
  color: #333333;
}

.blog-tabs .nav-link {
  padding: 14px 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #6E7F9C;
  border: none;
}

.blog-tabs .nav-link:hover, .blog-tabs .nav-link:focus {
 border: none;
}

.blog-tabs .nav-link.active {
  background: #F5F5F5;
  color: #FF4D00;
}

.blog-item {
  display: flex;
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  margin-bottom: 40px;
  min-height: 235px;
}

.blog-img {
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  width: 38%;
  flex-shrink: 0;
}

.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-caption {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.blog-author {
  display: flex;
}

.blog-author-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.blog-author-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-author-caption {
  margin-left: 15px;
}

.blog-author-caption p {
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  color: #383736;
}

.blog-author-caption span {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #8E8E8E;
  display: block;
  margin-top: 2px;
}

.blog-caption-preview {
  margin-top: 16px;
  margin-bottom: 15px;
}

.blog-caption-preview h6 {
  font-weight: 700;
  font-size: 17px;
  line-height: 120%;
  color: #333333;
}

.blog-caption-preview p {
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: #333333;
  margin-top: 16px;
}

.blog-caption .btn-black {
  margin-top: auto;
  width: fit-content;
}

.title-mobile {
  display: none;
}

.blog-page {
  padding-bottom: 100px;
}

.article-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  max-width: 870px;
}

.aricle-img {
  margin: 40px 0;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
}

.aricle-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-share {
  display: flex;
  list-style: none;
}

.article-share li + li {
  margin-left: 30px;
}

.article-share a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.article-text-box {
  margin: 20px 0;
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  padding: 30px;
}

.article-text-box h6 {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #333333;
}

.article-text-box p {
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #8E8E8E;
  margin-top: 20px;
}

.article-ul {
  margin-top: 20px;
  padding-left: 20px;
}

.article-ul li {
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #8E8E8E;
}

.article-ul li + li {
  margin-top: 20px;
}

.article-navigation-wrapper {
  margin: 35px auto 0 auto;
  max-width: 870px;
  display: flex;
  justify-content: space-between;
}

.article-navigation {
  display: flex;
  position: relative;
  border-radius: 10px;
  border: 1px solid #D6D6D6;
  overflow: hidden;
  box-shadow: 0 3px 0 rgba(22, 22, 22, 0.16);
}

.article-navigation-img {
  width: 90px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}

.article-navigation-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.article-navigation-img .nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16);
}

.article-navigation-caption {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 190px;
}

.article-navigation-caption span {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #8E8E8E;
  display: block;
}

.article-navigation-caption p {
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  color: #333333;
  margin-top: 4px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-prev {
  .nav-btn {
    left: 16px;
  }
  .article-navigation-caption span {
    text-align: left;
  }
  .article-navigation-caption p {
    text-align: left;
  }
}

.article-next {
  .nav-btn {
    right: 16px;
  }
  .article-navigation-caption {
    align-items: flex-end;
  }
  .article-navigation-caption p {
    text-align: right;
  }
  .article-navigation-caption span {
    text-align: right;
  }
}

.blog-detail-page {
  padding-bottom: 130px;
}

.contact-page .map-large {
  padding-top: 20px;
}

.contact-wrapper {
  margin-top: 40px;
  display: flex;
  padding-bottom: 60px;
  border-bottom: 1px solid #EDEDED;
}

.contact-list-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #333333;
  margin-bottom: 40px;
}

.contact-item {
  margin-bottom: 20px;
}

.contact-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #333333;
  margin-bottom: 16px;
}

.contact-item-text {
  display: flex;
  position: relative;
}

.contact-item-text p {
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  color: #333333;
}

.contact-item-text i + p {
  margin-left: 8px;
}

.contact-item-text-wrapper {
  display: flex;
}

.contact-item-text-wrapper .contact-item-text + .contact-item-text {
  margin-left: 16px;
}

.request-sm {
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
  box-shadow: 0 3px 0 rgba(22, 22, 22, 0.16);
  border-radius: 10px;
  padding: 32px;
  width: 495px;
  height: fit-content;

  .request-title h2 {
    font-weight: 800;
    font-size: 32px;
    line-height: 120%;
  }

  .request-title p {
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    margin-top: 4px;
    max-width: 290px;
  }
}

.contact-list {
  padding-right: 30px;
}

.contact-wrapper .request-sm {
  margin-left: auto;
}

.partners {
  margin-top: 40px;
}

.partners .title-sm {
  margin: 0 auto;
  width: fit-content;
}

.partners-slider {
  margin-top: 40px;

  img {
    max-height: 58px;
    max-width: 187px;
  }

  .swiper-wrapper {
    align-items: center;
  }

  .swiper-slide {
    width: fit-content;
  }
}

.contact-page {
  padding-bottom: 80px;
}

.main-slider-item {
  min-height: 773px;
  display: flex;
  align-items: center;
  height: auto;
  padding-bottom: 30px;
}

#slide_1 {
  background: url('../img/main/slide1.png') no-repeat center/cover;
}

#slide_2 {
  background: url('../img/main/sell-bg.png') no-repeat center/cover;
}

#slide_3 {
  background: url('../img/main/ready-bg.png') no-repeat center/cover;
}

.main-slider-content {
  display: flex;
  align-items: center;
}

.main-slider-caption {
  opacity: 0;
  transform: translateX(-20px);
  transition: 1s ease;
  transition-delay: 1s;
  padding-bottom: 190px;
}

.swiper-slide-active .main-slider-caption {
  opacity: 1;
  transform: translateX(0);
}

.main-slider-caption h1 {
  font-weight: 800;
  font-size: 94px;
  line-height: 114px;
  color: #FFFFFF;
}

.main-slider-caption h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
}

.slider-button-wrapper {
  display: flex;
  margin-top: 32px;
}

.slider-button-wrapper .btn + .btn {
  margin-left: 12px;
}

.main-slider-caption p {
  margin-top: 70px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  max-width: 353px;
}

.main-slider .request-sm {
  margin-left: auto;
  opacity: 0;
  transform: translateX(20px);
  transition: all 1s ease;
  transition-delay: 1s;
}

.swiper-slide-active .request-sm {
  opacity: 1;
  transform: translateX(0);
}

.main-slider-caption {
  padding-right: 50px;
}

.main-slider .container {
  position: relative;
}

.swiper-pagination {
  left: 15px!important;
  transform: initial!important;
  display: block!important;
  width: fit-content!important;
  bottom: 75px!important;
}

.swiper-pagination-bullet {
  width: fit-content;
  height: fit-content;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #fff;
  background: transparent;
  border-radius: 0;
  transform: initial!important;
  left: 0!important;
  opacity: 0.65!important;
  margin: 7px 0!important;
  position: relative;
  padding-left: 26px;
  display: none;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  display: block;
  opacity: 1!important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active-prev {
  display: block;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active-next {
  display: block;
}

.swiper-pagination-bullet-active-prev {
  background: linear-gradient(360deg, #FFFFFF 20.83%, rgba(255, 255, 255, 0) 110.42%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.swiper-pagination-bullet-active-next {
  background: linear-gradient(180deg, #FFFFFF 20.83%, rgba(255, 255, 255, 0) 118.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.swiper-pagination-bullet:before {
  content: '';
  background: #fff;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  opacity: 0.8;
}

.swiper-pagination-bullet-active:before {
  width: 7px;
  height: 7px;
  opacity: 1;
  left: 0.5px;
}

.swiper-pagination:before {
  content: '';
  position: absolute;
  left: 4px;
  transform: translateX(-50%);
  background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, #FFFFFF 49.69%, rgba(255, 255, 255, 0.1) 102%);
  width: 2px;
  height: 100%;
}

.help-chat {
  display: flex;
  align-items: center;
  position: fixed;
  right: 60px;
  bottom: 40px;
  z-index: 15;
}

.help-chat p {
  font-weight: 500;
  font-size: 11px;
  line-height: 130%;
  color: #333333;
  background: #FFFFFF;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.11);
  border-radius: 7px;
  padding: 8px;
  height: fit-content;
  width: fit-content;
}

.help-chat-link {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: #FF4D00;
  //box-shadow: 0 2px 0 rgba(22, 22, 22, 0.46);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  position: relative;
  animation: play 2s ease infinite;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

@keyframes play {
  0% {transform: scale(1);}
  15% {box-shadow: 0 0 0 5px rgba(255, 77, 0, 0.4);}
  25% {box-shadow: 0 0 0 10px rgba(255, 77, 0, 0.4), 0 0 0 20px rgba(255, 77, 0, 0.2);}
  25% {box-shadow: 0 0 0 15px rgba(255, 77, 0, 0.4), 0 0 0 30px rgba(255, 77, 0, 0.2);}
}

.help-chat-link i {
  width: 28px;
  height: 28px;
}

.offplan-latest {
  margin-top: 0;
}


@import "media";